body {
  font-family: "Raleway", sans-serif;
  background-size: cover;
}
#t {
  width: 80%;
  text-align: center;
  border: 3px white solid;
  border-radius: 10px;
  font-size: 3vh;
}
.footer {
  line-height: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  border: black 4px solid;
}
canvas {
  border: white 5px solid;
  border-radius: 20px;
  margin-top: 210px;
}
